apiVersion: apps/v1
kind: Deployment
metadata:
  name: brogue
  namespace: brogue
spec:
  replicas: 1
  selector:
    matchLabels:
      app: brogue
  template:
    metadata:
      labels:
        app: brogue
    spec:
      serviceAccountName: brogue-sa
      containers:
      - name: brogue
        image: broguek8s:latest
        imagePullPolicy: Never
        resources:
          limits:
            memory: "512Mi"
            cpu: "1000m"
          requests:
            memory: "256Mi"
            cpu: "500m"
        securityContext:
          privileged: true
        ports:
        - containerPort: 16080 # noVNC port
        - containerPort: 15900 # VNC port
        - containerPort: 18000 # Metrics port
        env:
        - name: DISPLAY
          value: ":1"
        - name: SDL_VIDEODRIVER
          value: "x11"
        - name: SDL_AUDIODRIVER
          value: "dummy"
