apiVersion: v1
kind: Service
metadata:
  name: brogue-service
  namespace: brogue
spec:
  selector:
    app: brogue
  type: ClusterIP  # Change to NodePort or LoadBalancer if external access is required
  ports:
  - name: novnc
    port: 16080
    targetPort: 16080
  - name: vnc
    port: 15900
    targetPort: 15900
  - name: metrics
    port: 18000
    targetPort: 18000